@import "block/menu.css";
@import "block/main-container.css";
@import "block/block-content.css";
@import "block/card.css";
@import "block/recommendations.css";
body,html 
{
    margin: 0;
    padding: 0;
    color: white;
}

body 
{
    background-color: #1F1F1F;
    display: flex;
    font-family: 'Poppins', sans-serif; 
}




/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; 
*/