.achivments-contein 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.achivments-contein .achivments-content 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.achivments-contein .achivments-content .items-block
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 2rem;
    background-color: gray;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
    animation: fly 5s ease-in-out infinite;
}

.achivments-contein .achivments-content .items-block .block 
{
    display: none;
    font-size: 14px;
}
.achivments-contein .achivments-content .items-block:hover 
{
    animation: none;
    transition: all .3s ease-in-out;
}
.achivments-contein .achivments-content .items-block:hover::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    
}
.achivments-contein .achivments-content .items-block:hover .block 
{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 5;
    display: block;
    transition: all .3s ease-in-out;
}

.achivments-contein .achivments-content .items-block:nth-child(1){background: url("../../img/achivments/medal-512\ 1.png") center/cover no-repeat; animation-delay: .5s;}
.achivments-contein .achivments-content .items-block:nth-child(2){background: url("../../img/achivments/Frame\ 69.png") center/cover no-repeat;animation-delay: .7s;}
.achivments-contein .achivments-content .items-block:nth-child(3){background: url("../../img/achivments/Слой\ 0\ 2.png") center/cover no-repeat;animation-delay: .10s;}
.achivments-contein .achivments-content .items-block:nth-child(4){background: url("../../img/achivments\/Слой\ 0\ 3.png") center/cover no-repeat;animation-delay: .12s;}


@keyframes fly 
{
    0% 
    {
        transform: translate(0,0rem) rotateY(0deg);
    }
    50% 
    {
        transform: translate(0,-1rem) rotateY(90deg);
    }
    100% 
    {
        transform: translate(0,0rem) rotateY(0deg);
    }
}