.dash-container 
{
    width: 445px;
    height: 180px;
    margin-top: 1rem;
    display: flex;
}

.dash-container .dash-content .title-dash
{
    margin-right: auto;
    font-size: 22px;
    font-weight: bold;
}

.dash-container .dash-content svg 
{
    height: 126px;
    width: 250px;
}