.dash-container 
{
    width: 445px;
    height: 180px;
    margin-top: 3rem;
    display: flex;
}

.dash-container .dash-content .title-dash
{
    margin-right: auto;
    font-size: 22px;
    font-weight: bold;
}

